<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta  name="description" content="A find User Todo page">
    <title> resetPassword</title>
    <!-- Font family-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/public/findUser.css" type="text/css">-->
    <script src="https://use.fontawesome.com/fd294065c1.js"></script>
    <style>
        .todo-create_new_passwrd h3{
            font-size:33px;
            font-family:"Comic Sans MS";
            text-align:center;
            color:green;
        }
        .reset {
            text-align:center;
            position:relative;
            left:150px;
            border-radius: 5px;

        }
        .resetpass input{
            width:250px;
        }
        .passwordStatus {
            position:relative;
            top:10px;
            right:5px;
            font-size:17px;
        }
    </style>
    <script>
        function chkpasswrds(){
            var newpwd = document.getElementById('newPasswrd');
            var confirmpwd = document.getElementById('confirmPasswrd');
            var cnfirmPwdLen = confirmpwd.value.length;
            var passwordStatus = document.getElementById('passwordStatus');
            var newPwdLen = newpwd.value.length;
            if (cnfirmPwdLen < newPwdLen){
                if (confirmpwd.value === newpwd.value.slice(0,cnfirmPwdLen)){
                    passwordStatus.innerHTML = '&#10004';
                    passwordStatus.style.color= 'blue';
                }
                else{
                    passwordStatus.innerHTML = '&#10008';
                    passwordStatus.style.color= 'red';
                }
            }
            else
            {
                passwordStatus.innerHTML = '&#10008';
                passwordStatus.style.color= 'red';
            }
        }
    </script>
</head>
<body>

<section class ="User-To-Do">
    <div class="row">
        <div class="todo-create_new_passwrd col-md-12">
            <h3> Create a new Password for <%= username %></h3><br><br>
        </div>
    </div>
    <div class="row">
        <div class="password-reset">
           <form class="form horizondal resetpass col-md-6 col-md-offset-4" method="post" action="/updatePassword">
               <label class="createNewStatus col-md-2" for="username">Username</label>
               <input type="text" name="username" class="form-control username col-md-4" value="<%= username %>" readonly ><br><br>
               <label class="createNewStatus col-md-2" for="newPasswrd">New Password</label>
               <input type="text" name="newPasswrd" id="newPasswrd" class="form-control password col-md-4"><br><br><br>
               <label class="createNewStatus col-md-2" for="confirmPasswrd">Confirm Password</label>
               <input type="text" name="confirmPasswrd" id="confirmPasswrd" class="form-control password col-md-4" onkeypress="chkpasswrds()" >
               <label id="passwordStatus" class="passwordStatus col-md-2" for="username"></label>
               <br><br><br>
               <button type="submit" class="btn btn-default btn-submit reset col-md-2">RESET</button>
           </form>
        </div>
    </div>
</section>
<!-- Bootstrap Jquery -->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>